@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text_head {
  @apply text-4xl font-bold text-gray-800 mb-4;
}

.ptext{
  @apply text-base sm:text-lg text-gray-600 mb-6
}

.title{
  @apply text-4xl font-bold text-primary
}

.subtitle{
  @apply text-2xl font-bold text-primary
}

.bgimage {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c479.469C90.741%2c470.857%2c178.176%2c445.841%2c254.655%2c396.251C330.915%2c346.803%2c408.554%2c285.433%2c433.87%2c198.142C458.332%2c113.795%2c402.592%2c30.725%2c385.655%2c-55.449C369.789%2c-136.175%2c374.694%2c-219.048%2c337.455%2c-292.407C292.631%2c-380.708%2c244.588%2c-482.277%2c151.641%2c-516.442C58.093%2c-550.829%2c-41.973%2c-496.658%2c-137.075%2c-466.835C-230.462%2c-437.55%2c-338.891%2c-422.797%2c-397.334%2c-344.292C-455.082%2c-266.721%2c-434.683%2c-159.597%2c-437.756%2c-62.94C-440.493%2c23.172%2c-438.577%2c106.539%2c-414.293%2c189.201C-386.69%2c283.16%2c-367.938%2c391.532%2c-287.735%2c447.725C-207.075%2c504.238%2c-98.047%2c488.774%2c0%2c479.469' fill='%23facc15'%3e%3c/path%3e%3cpath d='M1440 1063.166C1535.3029999999999 1053.594 1627.21 1028.465 1708.0430000000001 977.0830000000001 1789.164 925.518 1870.019 861.481 1900.629 770.362 1930.301 682.035 1877.225 591.14 1868.872 498.337 1859.905 398.714 1893.569 294.871 1849.738 204.95999999999998 1800.219 103.38 1722.011 0.41800000000000637 1612.5149999999999-27.53099999999995 1503.378-55.38900000000001 1402.009 30.82299999999998 1294.107 63.134000000000015 1186.929 95.22899999999998 1047.431 72.178 980.402 161.75599999999997 912.906 251.959 962.379 380.603 972.6030000000001 492.798 980.6320000000001 580.909 1008.2090000000001 660.841 1033.605 745.594 1063.518 845.421 1052.853 970.4739999999999 1134.967 1034.641 1217.097 1098.8200000000002 1336.29 1073.5819999999999 1440 1063.166' fill='%23252525'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

@media (max-width: 768px) {
  .bgimage {
    background: linear-gradient(to bottom right, #252525 50%, #facc15 50%);
  }
}
